.todo {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left-style: solid;
  border-left-width: 5px;
}

.date {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

.desc p {
  width: 80%;
  word-wrap: break-word;
}

.desc input[type="checkbox"]{
    accent-color: #818cf8;
    color: #fff;
    border: #818cf8;
}

.btnsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnsWrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.edit {
  color: #818cf8;
}

.delete {
  color: #e11d48;
}

/*_________________custom CheckBox___________ */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a background */
  .container input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid #818cf8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }