.todo {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left-style: solid;
  border-left-width: 5px;
  transition: all 0.3s ease;
  box-shadow: -1px 2px 12px -1px rgba(204,204,204,0.49);

}

.todo:hover{
  transform: scale(1.1);

}

.date {
  font-size: 1rem;
  text-align: right;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
  font-weight: bold;
  cursor: pointer;
}

.desc p {
  width: 80%;
  word-wrap: break-word;
}

.desc input[type="checkbox"]{
    accent-color: #818cf8;
    color: #fff;
    border: #818cf8;
}

.btnsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnsWrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.edit {
  color: #818cf8;
}

.delete {
  color: #e11d48;
}

.completed{
  text-decoration: line-through;
  color: #ccc;
}

.checkIcon{
  color: #818cf8;
  font-size: 2rem;
}

.hidden{
  display: none;
}

.opacity{
  opacity: 0.4;
}