.app{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.appContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-height: 65%;
}